h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

.hero {
  background: #f9f7fe;
  text-align: center;
}

.hero p {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
}
